.app {
  display: flex;
  justify-content: center;
}

.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  list-style: none;
  gap: 10px;
}

.list li {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
